node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Prisma local SQLite database
dev.db
dev.db-journal

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results

/../generated/prisma
